@import url('https://fonts.googleapis.com/css2?family=IBM+Plex+Sans:wght@100;200;300;400;500;600;700&display=swap');
/*@import url('https://fonts.googleapis.com/css2?family=Space+Grotesk:wght@300;400;500;600;700&display=swap');*/

:root {
    --bg-color: #31393C;
    --bg-medium: #2A2F31;
    --bg-light: #363e3f;
    --tooltip: #3C3F41;
    --bg-dark: #1E2223;
    --blue-1: #2176FF;
    --blue-2: #3381FF;
    --blue-3: #33A1FD;
    --yellow: #FDCA40;
    --orange: #F79824;
    --disabled: #C0A9B0;
}

body {
    font-family: /*'Space Grotesk', */'IBM Plex Sans';
    line-height: 1.25;
}

.link {
  color: #61dafb;
}

:root {
  background-color: var(--bg-color);
  color: white;
  min-height: 100vh;
}

.centerModal {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.input-box {
    height: 40px;
    border: none;
    outline: none;
    border-radius: 5px;
    padding: 0 10px;
    margin-bottom: 10px;
}

.input-box-wider {
    width: 24rem;
}

.input-box:focus {
    outline: 2px solid var(--blue-2);
}

.button {
    outline: none;
    border: none;
    border-radius: 2px;
    padding: 8px 10px;
    color: white;
    background-color: var(--blue-1);
    transition-property: background-color;
    transition-duration: 75ms;

}

.button:hover {
    background-color: var(--blue-2);
}

.button:active {
    background-color: var(--blue-3);
}

.button:disabled {
    background-color: var(--disabled);
}

.button:focus {
    outline: 2px solid var(--blue-2);
}

.loaderRoot {
    min-height: 100vh;
    background-color: rgb(11, 11, 11);
}

.spinner {
    position: absolute;
    top: 45%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 50px;
}

.spinnerSubtitle {
    position: absolute;
    top: 45%;
    left: 50%;
    transform: translate(-50%, 100%);

}

@keyframes spin {
    0% {
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(360deg);
    }
}

.screenRoot {
    margin: 0 0;
    min-width: 100vw;
    min-height: 100vh;
    outline: none;
}

.hidden {
    display: none;
}
