.appContainer {
    display: flex;
    flex-direction: row;
    width: 100%;
}

.contentContainer {
    min-height: 100vh;
    width: 100%;
}
.navContainer {
    background-color: var(--bg-dark);
    min-height: 100vh;
    width: 16rem;
}

.avatar {
    float: left;
    border-radius: 15px;
    margin: 0.25rem;
}

.username {
    font-weight: 500;
}