:root {
    overflow-x: hidden;
    overflow-y: hidden;
}

.appContainer {
    display: flex;
    flex-direction: row;
    width: 100%;
    --contexify-activeItem-bgColor: var(--tooltip);
}

.contentContainer {
    min-height: 100vh;
    width: 100%;
}

.navContainer {
    display: flex;
    flex-direction: column;
    background-color: var(--bg-dark);
    min-height: 100vh;
    width: 20rem;
    transition: width 0.15s;
}

.navContainer-hidden {
    width: 5rem;
}

.avatar {
    float: left;
    border-radius: 15px;
    margin: 0.25rem;
}

.username {
    font-weight: 500;
}

.userBox {
    margin-bottom: 1rem;
}



.quarkInfo {
    display: flex;
    flex-direction: row;
    margin: 0 0;
    justify-content: space-between;
}

.unreadIndicatorQuark {
    background-color: var(--orange);
    border-radius: 0.5rem;
    width: 0.8rem;
    height: 0.8rem;
    position: absolute;
    left: -0.15rem;
    top: -0.15rem;
}

.quarkImage {
    display: inline-block;
    border-radius: 0.75rem;
    transition: border-radius 0.15s;
}

.quarkImage:hover {
    border-radius: 0.25rem;
    cursor: pointer;
}

.quarkBox {
    position: relative;
    display: flex;
    flex-direction: row;
    margin: 0.5rem;
}

.quarkList {
    border-radius: 0.5rem;
    margin: 0.5rem;
    background-color: var(--bg-medium);
    user-select: none;
    overflow-y: auto;
    height: calc(100vh - 10rem);
}


.channelContainer {
    overflow-y: scroll;
    margin-top: 0.5rem;
    height: calc(100vh - 10rem);
}

.channelBox {
    border-radius: 0.25rem;
    transition: background-color 0.15s;
    font-size: 0.825rem;
    margin: 0 0 0 0.5rem;
    width: 8rem;
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;
    padding: 0.5rem 0.25rem;
    user-select: none;
    position: relative;
}

.channelInfo {
    display: flex;
    flex-direction: row;
    align-items: center;
    background-color: var(--bg-dark);
    height: 2.5rem;
    padding-left: 0.5rem;
    overflow: hidden;
}

.channelBox:hover {
    background-color: var(--bg-medium);
    cursor: pointer;
}

.leaveButton {
    --contexify-item-color: var(--orange);
    --contexify-activeItem-color: var(--orange);
}

.quarkMenu {
    transition: 100ms;
}

.messageMenu {
    transition: 100ms;
}

.channelMenu {
    transition: 100ms;
}

.quarkTip {
    overflow: hidden;
}

.quarkTitle {
    margin: 0 auto;
    font-weight: 500;
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;
    width: 13rem;
    height: 1.5rem;
}

.messageAvatar {
    border-radius: 1.25rem;
    margin: 0.25rem;
    height: 2.5rem;
    width: 2.5rem;
}

.messageTimestamp {
    font-size: 0.75rem;
    margin: 0.25rem;
    color: lightgrey;
}

.messageUsernameRow {
    font-weight: 400;
    margin-left: 0.25rem;
    font-size: 1rem;
}

.messageBody {
    margin-left: 0.25rem;
    font-weight: 300;
    user-select: text;
    white-space: pre-wrap;
    line-height: 1.1rem;
    word-break: break-all;
}

.botBadge {
    border: var(--orange) 0.1rem solid;
    border-radius: 0.25rem;
    margin-left: 0.25rem;
    font-size: 0.75rem;
    padding: 0.25rem;
    color: white;
    font-weight: 500;
}

.message {
    transition: background-color 0.15s;
    user-select: none;
    display: flex;
    flex-direction: row;
    margin: 0.5rem;
}

.message:hover {
    background-color: var(--bg-medium);
}

.messageView {
    overflow-y: scroll;
    height: calc(100vh - 7rem);
}

.messageBox {
    background-color: var(--bg-medium);
    min-height: 3.5rem;
    margin: 0.5rem;
    border-radius: 0.5rem;
}

.messageInput {
    background-color: #0000;
    outline: none;
    border: none;
    font-size: 0.85rem;
    resize: none;
    margin: 0.5rem;
    width: calc(100% - 6.5rem);
    max-height: 10rem;
    line-height: 1rem;
    color: white;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen', 'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue', sans-serif
}

.closeButton {
    position: absolute;
    right: 1rem;
    top: 1rem;
    padding: 0.5rem;
}

.closeButton:hover {
    cursor: pointer;
}

/*
TODO: Make the positioning better
 */
.messageSendButton {
    font-size: 1.5rem;
    display: inline-block;
    color: var(--orange);
    transition: color 100ms;
    width: 1rem;
    height: 1rem;
    position: relative;
    top: -0.75rem;
    right: -0.85rem;
}

.messageAttachButton {
    font-size: 1.5rem;
    display: inline-block;
    color: var(--orange);
    transition: color 100ms;
    width: 1rem;
    height: 1rem;
    position: relative;
    top: -0.75rem;
    right: -0.85rem;
    margin-right: 1rem;
}

.messageAttachButton:hover {
    cursor: pointer;
}

.attachmentVideo {
    max-width: 20rem;
    max-height: 20rem;
    border-radius: 0.25rem;
}

.attachmentAudio {
    height: 2rem;

}

.messageSendButtonDisabled {
    color: var(--tooltip);
}

.messageSendButtonDisabled:hover {
    color: var(--tooltip) !important;
    cursor: unset !important;
}

.messageSendButton:hover {
    cursor: pointer;
    color: var(--yellow);
}

.messageItalic {
    font-style: italic;
}

.messageReply {
    color: lightgrey;
}

.messageReplyUsername {
    margin-right: 0.25rem;
}

.messageReplyBody {
    font-weight: 300;
    width: 5rem;
    text-overflow: ellipsis;
    overflow: hidden;
}

.messageReplyIcon {
    font-size: smaller;
    margin-right: 0.25rem;
}

.unreadIndicator {
    background-color: var(--orange);
    border-radius: 0.5rem;
    width: 0.4rem;
    height: 0.4rem;
    position: absolute;
    left: 0.5rem;
    top: 0.5rem;
}

.joinModal {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: var(--bg-medium);
    border-radius: 0.5rem;
    padding: 1rem;
    filter: drop-shadow(0 20px 13px rgb(0 0 0 / 0.03)) drop-shadow(0 8px 5px rgb(0 0 0 / 0.08));
    width: 30rem;
    height: 25rem;
    z-index: 999;
}

.createModal {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: var(--bg-medium);
    border-radius: 0.5rem;
    padding: 1rem;
    filter: drop-shadow(0 20px 13px rgb(0 0 0 / 0.03)) drop-shadow(0 8px 5px rgb(0 0 0 / 0.08));
    width: 30rem;
    height: 25rem;
    z-index: 999;
}

.joinModalQuark {
    background-color: var(--bg-dark);
    padding: 0.5rem;
    border-radius: 0.5rem;
    height: 4.5rem;
    position: relative;
}

.joinModalQuarkIcon {
    height: 4.5rem;
    width: 4.5rem;
    border-radius:0.5rem;
    margin-right: 1rem;
    float: left;
}

.joinModalQuarkName {
    font-size: 1.25rem;
    font-weight: 500;
    margin-top: 0.5rem;
    width: 18rem;
    overflow: hidden;
    display: inline-block;
    text-overflow: ellipsis;
    white-space: nowrap;
}

.joinModalQuarkDetail {
    color: lightgray;
}

.joinModalQuarkJoinButton {
    float: right;
    margin-right: 1rem;
    position: absolute;
    top: 50%;
    right: 1rem;
    transform: translateY(-50%);
}

.link {
    color: var(--blue-3);
    text-decoration: underline;
}

.link:hover {
    color: var(--blue-1);
    cursor: pointer;
}

a {
    color: var(--blue-3);
}

a:visited {
    color: var(--blue-2);
}

a:hover {
    color: var(--blue-1);
}

.attachmentBox {
    background-color: var(--bg-medium);
    border: 1px solid var(--tooltip);
    filter: drop-shadow(0 20px 13px rgb(0 0 0 / 0.03)) drop-shadow(0 8px 5px rgb(0 0 0 / 0.08));
    border-radius: 0.5rem;
    margin: 0.5rem;
    padding: 0.5rem;
    display: flex;
    flex-direction: row;
    align-items: center;
}

.attachmentImage {
    border-radius: 0.1rem;
    max-height: 15rem;
    max-width: 15rem;
    margin-right: 0.5rem;
}

/*/
/* Scrollbar
/*/

::-webkit-scrollbar {
    width: 0.35rem;
}
::-webkit-scrollbar-track {
    background: var(--bg-medium);
}
::-webkit-scrollbar-thumb {
    background: var(--tooltip);
    border-radius: 5rem;
}