:root {
    --bg-color: #cec6c3;
    --bg-medium: #d5d0ce;
    --bg-light: #c9c1c0;
    --tooltip: #c3c0be;
    --bg-dark: #e1dddc;
    --accent-1: #2176FF;
    --accent-4: #3381FF;
    --accent-5: #33A1FD;
    --accent-2: #FDCA40;
    --accent-3: #F79824;
    --disabled: #C0A9B0;
    --white: #000000;
    --lightgrey: grey;
    color: black;
}