:root {
    --bg-color: #cec6c3;
    --bg-medium: #d5d0ce;
    --bg-light: #c9c1c0;
    --tooltip: #c3c0be;
    --bg-dark: #e1dddc;
    --blue-1: #2176FF;
    --blue-2: #3381FF;
    --blue-3: #33A1FD;
    --yellow: #FDCA40;
    --orange: #F79824;
    --disabled: #C0A9B0;
}